@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}
body{
    margin-left: 25px;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.col1 {
    width: 30%; 
    margin: 1% 1%;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 3%;
    
    background: linear-gradient(rgb(224, 252, 153), rgb(157, 207, 137));
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
img{
    width:200px;
    height:200px;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 5%;
}
.title{
    color: rgb(2, 87, 244);
}
.category{
    text-align: center;
    color: rgb(0, 0, 0);
}
.price{
    color: rgb(0, 159, 0);
}
.des{
    font-size: 0.8rem;
}
.rate{
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}