* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: linear-gradient(135deg, #2c3e50, #4a0072, #001f3f);
    border-radius: 30px;
    margin:5px;
    padding: 15px 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.logo-domain-ul {
    display: flex;
    align-items: center; 
    text-align: center;
}

.content-domain-ul{
    display: flex;
    align-items: center; 
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 10px;
}

.brand-name {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.search-domain {
    display: flex;
    align-items: center;
}

.search-input-container {
    position: relative;
}

.searchicon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    pointer-events: none; 
}

.searchinput {
    width: 350px;
    padding: 8px 8px 8px 50px; 
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: width 0.3s ease; 
}

.searchinput:hover {
    width: 450px; 
}

.content-domain-ul {
    display: flex;
    align-items: center;
}

.nav-item {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 15px; 
    position: relative;
    text-align: center;
    transition: color 0.3s ease;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0; 
    left: 50%;
    background-color: #00ffff;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}

.nav-item:hover {
    color: #00ffff;
}

ul {
    list-style: none;
}

@media (max-width: 768px) {
    .searchinput {
        width: 100%; 
    }

    .nav-item {
        padding: 5px 10px; 
    }
}

