
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #D4BEE4, #EEEEEE);
}

.text-primary {
  color: #3B1E54;
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.8s ease-out forwards;
}
.form-label {
  color: #3B1E54;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3B1E54; 
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border: none;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #2A153D;
  color: #FFFFFF;
  transform: scale(1.05);
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
